* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
   
}
html{
    scroll-behavior: smooth;
}
:root{
    --Primeria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255,255,255,0.1);
    
}
body{
    background-color: var(--escuro);
    color: var(--claro);
   
}
.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23,42 , 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;


}

.menu{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
   
}
.menu-link{
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;   
    position: relative;
    padding: 0.5rem 0;
 

}

.menu-link::after{
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background:linear-gradient(90deg, var(--Primeria ), var(--secundaria));
    transition: width 0.5s ease;

}
.menu-link:hover::after{
    width: 100%;
    
}
.cabecalho{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.foto-perfil{
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(79,70,229,0.3);
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--vidro);
    animation: flutuar 3s ease-in-out infinite;
  
    
}
h1{
    font-size: 3.5rem;
    color: var(--Primeria);
    font-weight:bold ;
    margin: 20px;
}
.cabecalho-sub-titulo{
    font-size: 2rem;
    color: var(--claro);
    
}
.sobre{
    padding: 6rem 2rem;
}
.sobre-mim{
    font-size: 2rem;
    color: var(--claro);
}
.sobre-caixa{
padding: 2rem;
max-width: 600px;
margin: 0 auto;
border-radius:16px ;
border: 1px solid var(--vidro);
backdrop-filter: blur(10px);
background:  rgba(255,255,255,0.05);
}
.sobre-titulo{
    font-size: 3rem;
    max-width: 800px   ;
    margin: 0 auto 2rem auto;
    text-align: center;
    color: var(--Primeria);
   margin-bottom: 60px;
}
.sobre-paragrafo{
   text-align: center;
    font-size: 1.2rem;
    color: var(--claro);
    line-height: 1.6;   
    margin-bottom: 3rem;

}
.projetos{

    padding: 6rem 2rem;
    
}

.projetos-caixa{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    
}
.projetos-cards{
     background:  rgba(255,255,255,0.05);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--vidro);
    overflow: hidden;
   
    transition: all 0.3s ease;
    cursor: pointer;
    
}
.projetos-cards:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(79,70,229,0.5) ;
}
.info-projetos{

    margin-bottom: 5px;
}
.projetos-titulo{

    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}
.projetos-imagem{

    height: 200px;
    width: 100%;
    object-fit: cover;
}
.caixa-textos-projeto{
    padding: 1.5rem;
}
.paragrafo-projetos{
color:rgba(226, 232, 240, 0.8) ;
line-height: 1.25rem;
}

.contatos{
padding: 6rem 2rem;
}

.contato-titulo{
 font-size: 3rem;
    max-width: 800px   ;
    margin: 0 auto 2rem auto;
    text-align: center;
    color: var(--Primeria);
   margin-bottom: 60px;
}

.formulario-contato{

    max-width: 600px;
    margin: 0 auto;
     background:  rgba(255,255,255,0.05);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    padding: 2rem;
    border: 1px solid var(--vidro);
   
}

.campo-form{
width: 100%;
padding: 1rem;
background:  rgba(255,255,255,0.05);;
border-radius: 8px;
color: var(--claro);
border: 1px solid var(--vidro);
margin-bottom: 1.5rem;
outline: none;

   
}

.campo-form:focus{
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79,70,229,0.5);
}

.grupo-form{

   margin-bottom: 1.5rem;

}
.botao-form{
    width: 100%;
    padding: 1rem;
    background: linear-gradient(90deg, var(--Primeria), var(--secundaria));
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
   cursor: pointer;
    transition: all 0.5s ease;
}
.botao-form:hover{
    background: linear-gradient(90deg, var(--secundaria), var(--Primeria));
    box-shadow: 0 0 20px rgba(79,70,229,0.5);
}

.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
    radial-gradient( circle at 10% 20%, var(--Primeria) 0%, transparent 20%),
    radial-gradient( circle at 90% 80%, var(--secundaria) 0%, transparent 20%) var(--escuro);
}
@keyframes flutuar {
    0%, 100%{
       transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}
/* Responsividade */
@media (max-width: 768px){
    h1{
        font-size: 2.5rem;
    }
    .cabecalho-sub-titulo{
        font-size: 1.5rem;
    }
    .sobre-titulo, .projetos-titulo, .contato-titulo{
        font-size: 2rem;
    }
    .sobre-mim{
        font-size: 1.5rem;
    }
    .projetos-caixa{
        grid-template-columns: 1fr;
    }
}
        
   